.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(./images/hinhnen1.jpg);
  width: 100%;
  height: 50vh;
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(./images/hinhnen2.jpg);
  width: 100%;
  height: 50vh;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(./images/hinhnen3.jpg);
  width: 100%;
  height: 50vh;
}
